@page "/addrecords"
@inject NavigationManager Navigate

<h3>Add Records</h3>

<form>
    <div class="form-group">
        <label >Date</label>
        <input type="date" class="rounded" placeholder="Date">
    </div>

    <div class="form-group">
        <label>Description</label>
        <input type="text" class="rounded" placeholder="Enter description here">
    </div>

    <div class="d-sm-inline-flex accounts">
        <div class="form-group">
            <label>Account Name</label>
            <select class="rounded" placeholder = "Enter an Account">
                <option>Accounts Payable</option>
                <option>Accounts Receivable </option>
                <option>Cash</option>
                <option>Commisions Earned</option>
                <option>Depletion Expense</option>
                <option>Cash Equivalents</option>
                <option>Revenue</option>
            </select>
        </div>

        <div class="form-group">
            <label>Account Group</label>
            <select class="rounded">
                <option>Please Select an Option...</option>
                <option>Asset</option>
                <option>Withdrawal</option>
                <option>Expenses</option>
                <option>Liability</option>
                <option>Owner's Equity</option>
                <option>Revenue</option>
                <option>Accounts Payable</option>
                <option>Accounts Receivable</option>
            </select>
        </div>

        <div class="form-group">
            <label>Amount</label>
            <input type="text" class="rounded" placeholder="0.00">
        </div>
    </div>

    <div class="mt-2">
        <input type="submit" class="save btn" name="save" value="Save" />
    </div>
</form>

<table class="mt-3 table table-responsive table-responsive-lg">
    <thead class="">
        <tr>
            <th>   </th>
            <th>Account</th>
            <th>Group</th>
            <th>Debit</th>
            <th>Credit</th>
        </tr>
    </thead>
    <tbody class="table-light">
        <tr>
            <td>*Remove icon</td>
            <td>Account Name</td>
            <td>Account Group</td>
            <td>number of debit</td>
            <td></td>
        </tr>

        <tr>
            <td>*Remove icon</td>
            <td>Account Name</td>
            <td>Account Group</td>
            <td></td>
            <td>number of credit</td>
        </tr>
    </tbody>
</table>

<div>
    <div class="justify-content-lg-end d-flex">
        @* <button class="btn btn-primary">Add</button> *@
        @* <button class="btn btn-outline-danger">Cancel</button> *@
        <input type="submit" name="add" value="Add" class="btn" />
        <input type="submit" name="cancel" value="Cancel" class="btn" @onclick = "goBack" />
    </div>
</div>

@code {

    private void goBack()
    {
        Navigate.NavigateTo("/journal");
    }

    private void save()
    {
        //This is a code to add to Trail Balance
    }

    private void add()
    {
        //This is a code to add to the journal entries
    }

}
